.about-us{
 padding: 2rem;
 h1{
  text-align: center;
  font-size: 3rem;
 }
 &__text{
  text-align: center;
  font-size: 1rem;
 }
}

@media (min-width:750px){
 .about-us{
  h1{
  font-size: 7rem;
 }
 &__text{

  font-size: 2rem;
 }
 }
}