.navbar{
 position: fixed;
z-index: 999;
display: flex;
gap:2rem;
justify-content: space-between;
align-items: center;
padding: 1rem;

&_link{
 font-weight: 300;
 color: #fff;
 padding: 1rem;
 &:hover{
outline: 1px solid #fff;
 }
}
&__logo{
 display: flex;
 justify-content: start;
align-items: center;
&:hover{
 outline: none;
}
&--Logotext{
 font-weight: 900;
 text-transform: uppercase;

}
&--cube{
 width: 20px;
 height: 20px;
 background-color: #fff;
 margin-right: 10px;
}
}
}