// imports
@import 'Navbar';
@import 'Game';
@import 'Header';
@import 'InfoSection';

// colors
$main-color:#0F1B33;
$light-text-color:#cbe5e9;
$medium-main-color:#176087;
$strong-accent-color:#C03221;
$contrast-accent-color:#E6AF2E;

@mixin bg-gradient-main(){
  background: rgb(3,0,39);
  background: linear-gradient(167deg, rgba(3,0,39,1) 26%, rgba(23,96,135,1) 92%);
}

@mixin bg-gradient-text(){
  background: rgb(230,175,46);
  background: linear-gradient(198deg, rgba(230,175,46,1) 40%, rgba(192,50,33,1) 83%);
}


// typography
@font-face {
  font-family: 'Montserrat', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap') format('woff2');
}

@font-face {
  font-family: 'Poppins', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap') format('woff2');
}

// mixins

@mixin title(){
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;

}
@mixin subtitle(){
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4em;
}
@mixin paragraph(){
  font-family: 'Poppins', sans-serif;
  font-size: 0.8em;
}

@mixin navLinks(){
  color: $light-text-color;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2em;
  font-weight: 600;
  text-decoration: none;
}

// main settings
*{
  margin: 0;
  padding: 0;
}

html{
  cursor: none;
}
body{
  background-color: $main-color;
  color:$light-text-color;
  font-family: 'Montserrat', sans-serif;
}

a{
  @include navLinks
}

.header-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;

}

.cursor{
  background-color: $light-text-color;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  position: fixed;
  z-index: 999;
  pointer-events: none;
  &_follower{
    background-color: transparent;
    border: 1px solid $light-text-color;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: fixed;
    z-index: 999;
  }
}

.cursorHover{
  background: transparent;
  border: 2px solid lawngreen;
  filter: hue-rotate(90deg);
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: fixed;
    z-index: 999;
}